<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments :: headerfiles">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
</head>

<body>
	<header th:insert="fragments :: nav"></header>
	<div class="container">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Titulo Original</th>
					<th scope="col">Calificación</th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody th:each="pelicula : ${list_pelicula}">
				<tr>
     					<td th:text=${pelicula.id}></td>
				        <td th:text=${pelicula.nombre}></td>
					<td th:text=${pelicula.tituloOriginal}></td>
					<td th:text=${pelicula.calificacion}></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{'/pelicula/editar/' + ${pelicula.id}}"><button class="btn btn-outline-warning"><i class="far fa-edit"></i></button></a></td>
                                        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{'/pelicula/borrar/' + ${pelicula.id}}"><button class="btn btn-outline-danger"><i class="far fa-trash-alt"></i></button></a></td>
				</tr>
			</tbody>
		</table>

		

	</div>
	<footer th:insert="fragments :: footer"></footer>
	<div th:insert="fragments :: scripts"></div>
</body>

</html>
