<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
</head>
<body>
	<header th:insert="fragments :: nav"></header>
	<div class="container">
		<form>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12"></div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<img alt="Image Preview"
								src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
						</div>
						<div class="col-md-6">
							<label for="titulo" class="form-label">Ingrese Nombre </label> <input
								type="email" class="form-control" id="titulo"
								placeholder="nombre de pelicula">
						</div>
					</div>
					<div class="row pt-4">
						<div class="col-md-4">
							<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
								<option selected> Seleccion de Genero</option>
								<option value="1">Drama</option>
								<option value="2">Suspenso</option>
								<option value="3">Accion</option>
							</select>
						</div>

						<div class="col-md-4">
							<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
								<option selected>Seleccion de Calificacion</option>
								<option value="1">Exelente</option>
								<option value="2">Muy Buena</option>
								<option value="3">Buena</option>
								<option value="4">Regular</option>
								<option value="5">Mala</option>
							</select>
						</div>

						<div class="col-md-4">
							<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
								<option selected>Seleccione el Pais de Origen</option>
								<option value="1">Argentina</option>
								<option value="2">Australia</option>
								<option value="3">USA</option>
								<option value="4">Alemania</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
						<label for="titulo" class="form-label">Duracion</label>
						<input	type="text" class="" id=""
								placeholder="minutos"> <br>
						
						<label for="titulo" class="form-label">Titulo Original</label>
						<input	type="text" class="" id=""
								placeholder="titulo">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12"></div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<footer th:insert="fragments :: footer"></footer>
	<div th:insert="fragments :: scripts"></div>
</body>
</html>